
/*====================================================*/
/* FILE /sedlex/inline_styles/fccc1a112326838e8d83de677fc615ec.css*/
/*====================================================*/
.shorten_url { 
	padding: 10px 10px 10px 10px ; 
	border: 1px solid #AAAAAA ; 
	background-color: #EEEEEE ; 
}
